# Ignore .vscode folder
.vscode/

# Ignore .__pycache__/ folder
__pycache__/
*.pyc

# Ignore anysubfolder in uploads/videos/
uploads/videos/*

# Ignore instance subfolders 
instance/*

# Ignore everything in static_data within app/static/
app/static/static_data/*

# Ignore any non-default JPG files in userProfiles
uploads/userProfiles/*.jpg
!uploads/userProfiles/default.jpg

# Ignore log files
log.txt
*.log

# Ignore virtual environments
venv/
.venv/

# Ignore system files
.DS_Store

