/* Style for the app 
Do not use generic tags like div, span, etc.
Be specific with the elements you want to style.
This ensures that your css will only apply to your desired elements and not everyones.
*/

/* Font Styling */
@font-face {
  font-family: 'Gruppo';
  src: url('/static/fonts/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tapestry';
  src: url('/static/fonts/Tapestry-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.login-title {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #0073d1;
}

/* Form Styling */
.login-form {
  width: 400px;
  padding: 1.5rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form-group {
  margin-bottom: 1.2rem;
}

.login-page input[type="text"],
.login-page input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-bottom: 2px solid #0062d1;
  border-radius: 4px;
}

.login-page input[type="text"]:focus,
.login-page input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid #00d1b2;
}

.login-btn-submit {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #006cd1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn-submit:hover {
  background-color: #0064a7;
}

.register-link {
  text-align: center;
  font-size: 0.85rem;
  color: #c1c1c1;
}

.register-link a {
  color: #ced100;
  text-decoration: none;
}

.login-alert {
  color: #ff0000;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}



.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.register-title {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #0073d1;
}

/* Form Styling */
.register-form {
  width: 400px;
  padding: 1.5rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.register-form-group {
  margin-bottom: 1.2rem;
}

.register-page input[type="text"],
.register-page input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-bottom: 2px solid #0062d1;
  border-radius: 4px;
}

.register-page input[type="text"]:focus,
.register-page input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid #00d1b2;
}

.register-btn-submit {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #006cd1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-btn-submit:hover {
  background-color: #0064a7;
}

.login-link {
  text-align: center;
  font-size: 0.85rem;
  color: #c1c1c1;
}

.login-link a {
  color: #ced100;
  text-decoration: none;
}

.register-alert {
  color: #ff0000;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  width: 100%;
}