<!-- Kyle Benich -->
<!-- profile.html -->

{% extends 'base.html' %} {% block content %}
<div class="profile-page">
  <h2 class="profile-title">Profile</h2>
  <div class="profile-details">
    <form
      method="POST"
      action="{{ url_for('main.upload_profile_picture') }}"
      enctype="multipart/form-data"
    >
      <div class="profile-picture">
        <img
          src="{{ url_for('static', filename='uploads/userProfiles/' + (user.picture if user.picture else 'default.jpg')) }}"
          alt="Profile Picture"
          class="profile-img"
        />
        <label for="profile_picture" class="custom-file-label">
          <span id="file-name">Choose Profile Picture</span>
          <button type="button" id="browse-button" class="btn btn-secondary">Browse</button>
        </label>
        <input
          type="file"
          id="profile_picture"
          name="profile_picture"
          accept="image/jpeg"
          class="upload-input"
          style="display: none;"
        />
        <button type="submit" class="btn btn-primary">Upload Picture</button>
      </div>
    </form>

    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <p><strong>Date joined:</strong> {{ user.date_created }}</p>
  </div>
  <div class="recalibrate-box">
    <h3 class="recalibrate-title" style="text-shadow: 1px 1px 2px black;">Calibration Status</h3>
    <div class="calibration-status" style="color: white;">
      <input type="checkbox" id="calibration-status" disabled {% if user.calibrated %}checked{% endif %}>
      <label for="calibration-status">Calibrated</label>
    </div>
    <p style="color: white;">Click the button below to recalibrate your eye movements.</p>
    <div class="recalibrate-button-container">
      <button class="btn btn-primary" onclick="window.location.href='{{ url_for('main.calibration') }}'">Recalibrate</button>
    </div>
  </div>
</div>
<script>
  document.getElementById('profile_picture').addEventListener('change', function (event) {
    const fileName = event.target.files[0]?.name || "Choose Profile Picture";
    document.getElementById('file-name').textContent = fileName;
  });

  document.getElementById('browse-button').addEventListener('click', function () {
    document.getElementById('profile_picture').click();
  });
</script>

{% endblock %}